.top-nav {
  background: #ffe9e5;
  box-shadow: 0px 10px 20px -13px rgba(0, 0, 0, 0.15);
}

.tapbar {
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 0px -10px 20px -13px rgba(0, 0, 0, 0.15);
}
