.top-nav {
  background: rgb(237, 212, 134);
  background: linear-gradient(
    133deg,
    rgba(237, 212, 134, 1) 0%,
    rgba(251, 246, 229, 1) 100%
  );
}

.tapbar {
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 0px -10px 20px -13px rgba(0, 0, 0, 0.15);
}
